/* VARIÁVEIS */
:root {
  --vermelho: #E50914;
  --preta: #141414;

  /* Faz com que 1rem agora equivala a 10px */
  font-size: 62.5%;
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ELEMENTOS BASE */

body {
  background: var(--preta);
  font-family: 'Arial', Times, serif;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: .5rem;
  padding: 1rem;
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 1rem;
  font-size: 1.6rem;
}

header nav a:hover {
  color: #fff;
}

/* FILME PRINCIPAL */
.filme-principal {
  font-size: 1.6rem;
  background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/image/capa-house.jpg');
  height: 40rem;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.filme-principal .titulo {
  margin-top: 15%;
  font-size: 4rem;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0, .50);
  border: none;
  color: white;
  padding: 1.5rem 3rem;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: .8rem;
}

.container {
  margin-left: 2rem;
}

.filme-principal .container {
  width: 70%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carrousel-filmes {
  margin-top: .5rem;
}